.rooms {
  display: flex;
  flex-wrap: wrap;

  &__box {
    position: relative;
    overflow: hidden;
    margin-bottom: 3 * $gutter;
    padding-bottom: 7rem;
    //3 colums
    width: calc((100% - 4rem) / 3);
    background-color: $color-grey-light;
    box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.18);
    transition: all 0.2s;
    &:not(:nth-child(3n)) {
      margin-right: $gutter;
    }
    &:hover {
      transform: scale(1.02);
      .rooms__box__content {
        transform: translateY(-50%);
      }
      .rooms__box__type {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &__img {
      padding-top: 90%;
      width: 100%;
      height: 0;
      background-image: url("https://images.unsplash.com/photo-1519974719765-e6559eac2575?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
      background-position: center;
      background-size: cover;
    }
    &__content {
      position: absolute;
      padding: 2rem;
      width: 100%;
      background-color: $color-grey-light;
      transition: all 0.4s;
    }
    &__name {
      color: $color-font-base;
      font-size: 1.4rem;
    }
    &__type {
      margin-bottom: 3rem;
      color: $color-font-second;
      font-size: 1.2rem;
      opacity: 0;
      transition: all 0.5s;
      transform: translateY(100%);
    }
    &__price {
      color: $color-font-base;
      letter-spacing: 2px;

      @include flex(flex-end, space-between);
      &__left {
        .num {
          margin-right: 5px;
          font-size: 2.1rem;
        }
      }
      &__right {
        color: $color-font-second;
        font-size: 1.2rem;
      }
    }
  }
}
